{% extends 'base.html' %}

{% block content %}
<div class="row mt-3">
  <div class="col-md-3 d-flex flex-row-reverse">
    <img class="rounded-circle mr-2" src="{{ user.avatar_url }}&s=160">
  </div>
  <div class="col-md-9">
    <h3>@{{ user.username }}</h3>
    <p>Joined: {{ user.created }}</p>
    <p>Last seen: {{ user.last_login }}</p>
    <p>{{ user.about_me }}</p>
    <p>Followers: {{ user.followers.count }} | Following: {{ user.following.count }}</p>
    {% if user == request.user %}
      <a class="btn btn-warning" href="{% url 'users:edit' %}">Edit</a>
    {% else %}
      {% if user in request.user.following.all %}
        <a class="btn btn-warning" href="{% url 'users:unfollow' pk=user.pk %}">Unfollow</a>
      {% else %}
        <a class="btn btn-success" href="{% url 'users:follow' pk=user.pk %}">Follow</a>
      {% endif %}
      <a class="btn btn-success" href="{% url 'chat:room' pk=user.pk %}">Message</a>
    {% endif %}
  </div>
</div>
<div class="row mt-3">
  <h4>Posts by @{{ user.username }}:</h4>
  {% for post in user.posts.all %}
    {% include 'components/_post.html' %}
  {% empty %}
    <p>{{ user.username }} hasn't posted yet.</p>
  {% endfor %}
</div>
{% endblock content %}