<div class="row mt-3">
  <div class="col-md-1 d-flex flex-row-reverse">
    <a href="{{ post.author.get_absolute_url }}">
      <img class="rounded-circle" src="{{ post.author.avatar_url }}&s=48">
    </a>
  </div>
  <div class="col-md-8">
    <a href="{{ post.author.get_absolute_url }}">
      {{ post.author.username }}
    </a>
    <p>{{ post.text }}</p>
  </div>
  <div class="col-md-3 d-flex flex-row-reverse">
    {{ post.created }}
  </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-4">
    {% if request.user.is_authenticated %}
      {% if request.user in post.get_liked_users %}
        <a href="{% url 'posts:unlike' pk=post.pk %}?next={{ request.path }}">💔</a>
      {% else %}
        <a href="{% url 'posts:like' pk=post.pk %}?next={{ request.path }}">🧡</a>
      {% endif %}
    {% endif %}
    {{ post.likes.count }} like(s)
  </div>
</div>